doctype html
html(lang="en")
  head
    title #{title}
    meta(name='viewport' content='initial-scale=1')
    link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' sizes='16x16 32x32 48x48')
    link(href='/css/airmast.min.css', rel='stylesheet')

  body
    .nav-main
      .navbar
        a.nav-home(href='/')
          img.nav-logo(src='/img/logo.svg' height=65)
          | <strong>AirMast</strong> Documentation
        .nav-lists
          ul.nav-site.nav-site-internal
            - var items = {camadapter : 'CamAdapter', head : 'Head Unit'}
            for name,item in items
              li(class=section == item ? 'nav-site-internal-element--current' : '')
                a(href='/'+item)= name
        .nav-lists.nav-right
          ul.nav-site.nav-site-internal
            li
              a(href='http://airmast.com/') Back to main site
          ul.nav-site.nav-site-external
            li
              a(href='https://github.com/airmast/airmast.github.io') GitHub

    main.container
      article.chapter
        .toc-toggle#top
          a(href='#toc') Table of Contents
        .contents
          | !{body}
      aside.sidebar
        .toc-toggle#toc
          a(href='#top') Back to Top
        .toc-container
          | !{toc}
